@page
@model SEP_Management.Areas.ClassManager.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectEnName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectVieName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].ProjectDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].GroupName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].MentorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].CoMentorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].AccessToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Class)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectEnName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectVieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MentorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoMentorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessToken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.ClassId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
