@page
@model SEP_Management.Areas.ClassManager.Pages.Projects.MoveMemberModel
@{
}

<div class="container-fluid">
    <div class="layout-specing ">
        <div class="card p-4 rounded shadow border-0">
            <div class="card-body">
                <form class="m-2" method="post">
                    <div class="form-group m-2">
                        <label class="form-label">Move Student: @Model.Student.FullName</label>
                    </div>
                    <div class="form-group m-2">
                        <label class="form-label">From:</label>
                        <input class="form-control" type="text" readonly="" value="@Model.Project.ProjectCode">
                    </div>
                    <div class="form-group m-2">
                        <label class="form-label">To:</label>
                        <select asp-items="@ViewBag.Projects" asp-for="ClassStudent.ProjectId" class="form-select">
                            <option value="" hidden="">Select Group Here</option>
                        </select>
                    </div>
                    <div class="row mt-5 mb-2 mx-2 ">
                        <input type="hidden" asp-for="ClassStudent.StudentId" value="@Model.Student.Id"></input>
                        <input type="hidden" asp-for="ClassStudent.ClassId" value="@Model.Class.ClassId"></input>
                        <input type="submit" class="btn btn-primary" name="submit" value="Save"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>