@page
@model SEP_Management.Areas.Admin.Pages.Roles.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    var prevDisabled = !Model.Role.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Role.HasNextPage ? "disabled" : "";
}
@* 
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role[0].Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Role) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@

<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<div class="container-fluid">
    <div class="layout-specing">
        <div class="row">
            <div class="col-xl-9 col-lg-6 col-md-4">
                <h5 class="mb-0">Setup System Setting </h5>
                <nav aria-label="breadcrumb" class="d-inline-block mt-2">
                    <ul class="breadcrumb breadcrumb-muted bg-transparent rounded mb-0 p-0">
                        <li class="breadcrumb-item"><a asp-page="./Index"> > System Setting List</a></li>
                    </ul>
                </nav>
            </div><!--end col-->

            <div class="col-xl-3 col-lg-6 col-md-8 mt-4 mt-md-0">
                <div class="justify-content-md-end">
                    <form>
                        <div class="row justify-content-between align-items-center">
                            <div class="col-sm-12 col-md-5">
                                <div class="mb-0 position-relative">
                                </div>
                            </div><!--end col-->

                            <div class="col-sm-12 col-md-7 mt-4 mt-sm-0">
                                <div class="d-grid">
                                    <a asp-page="./Create" class="btn btn-primary">Add System Setting</a>
                                </div>
                            </div>
                            <!--end col-->
                        </div><!--end row-->
                    </form><!--end form-->
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row mt-5">
            <!-- ROW2-->
            <form class="row mt-5" method="get" asp-page="./Index">
            <div class="col-md-3">
                <div class="row ">
                    <div class="">
                        <select asp-for="StatusFilter" asp-items="Model.ActiveList" class="form-select" onchange="this.form.submit()">
                            <option value="" hidden="">Status Filter:</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row ">
                    <div class="">
                        <select asp-for="GroupFilter" asp-items="Model.SettingGroupList" class="form-select" id="checkRole" onchange="this.form.submit()">
                            <option value="" hidden="">Group Filter:</option>
                            <option value="-1">All</option>
                        </select>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <div class="table-responsive">
                    <table class="  table  bg-white mb-0 table-hover table-bordered" id="myTable">
                        <thead class="">
                            <tr>
                                <th class="border-bottom p-3" onclick="sortTable(0)" style="cursor: pointer">Setting Name<i class="uil uil-sort"></i></th>
                                <th class="border-bottom p-3" onclick="sortTable(1)" style="cursor: pointer" style="min-width: 180px;">Setting Group<i class="uil uil-sort"></i></th>
                                <th class="border-bottom p-3">Description</th>
                                <th class="border-bottom p-3" onclick="sortTable(3)" style="cursor: pointer">Status<i class="uil uil-sort"></i></th>
                                <th class="border-bottom p-3" style="min-width: 100px;">Action</th>
                            </tr>
                        </thead>
                        
                            <tbody class="">
                            @foreach (var item in Model.Role)
                            {
                                <tr>
                                    <td class="p-3">@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td class="p-3">
                                        @if (item.Group == 1)
                                        {
                                            <p>SEMESTER</p>
                                        }  else if(item.Group == 2)
                                        {
                                            <p>USER_ROLE</p>
                                        }else if(item.Group == 3)
                                        {
                                            <p>PERMITTED_EMAIL</p>
                                        }
                                    </td>
                                            <td class="p-3">@Html.DisplayFor(modelItem => item.Description)</td>
                                    @if(item.IsActive == 1)
                                    {
                                        <td class="p-3"> <span class="badge bg-soft-success">Active</span> </td>
                                    }
                                    else
                                    {
                                        <td class="p-3"> <span class="badge bg-soft-danger">Inactive</span> </td>
                                    }
                                    <td class=" p-3">
                                        <a asp-page="./Edit"
                                           asp-route-id="@item.Id" 
                                           class="btn btn-icon btn-pills btn-soft-primary"
                                           title="Update">
                                            <i class="uil uil-pen"></i>
                                        </a>
                                        @if (item.IsActive == 1)
                                        {
                                            <a data-bs-toggle="modal"
                                               data-bs-target="#confirmChangeStatus-@item.Id"
                                            class="btn btn-icon btn-pills btn-soft-success"
                                            title=" Active">
                                                <i class="uil uil-check icons"></i>
                                            </a>
                                        }
                                        else if(item.IsActive == 0)
                                        {
                                            <a data-bs-toggle="modal"
                                               data-bs-target="#confirmChangeStatus-@item.Id"
                                               class="btn btn-icon btn-pills btn-soft-danger"
                                               title="In Active">
                                                <i class="uil uil-times icons"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                                <div class="modal" id="confirmChangeStatus-@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg w modal-dialog-centered " style="width:400px;">
                                        <div class="modal-content p-3">

                                            <div class="modal-body border-0 text-center p-2">
                                                <h1 class="text-danger display-1"><i class="ri-close-circle-line"></i></h1>
                                                <h4 class="modal-title" id="confirmDelete">Are you sure</h4>
                                                <p>Do you really want to change status of this setting? This process cannot be undone.</p>
                                            </div>
                                            <div class="modal-footer border-0 align-items-center justify-content-center">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <a type="button" class="btn btn-danger" asp-page-handler="ChangeStatus" asp-route-id="@item.Id" asp-route-status="@(item.IsActive == 1 ? "Active" : "InActive")" asp-page="./Edit">Confirm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            </tbody>
                            
                            
                    </table>
                </div>
            </div>
        </div>
    </div>
    

    <div class="row text-center">
        <div class="col-12 mt-4">
            <div class="d-md-flex align-items-center text-center justify-content-between">
                <span class="text-muted me-3"></span>
                <ul class="pagination justify-content-center mb-0 mt-3 mt-sm-0">
                    <li class="page-item">
                        <a asp-page="./Index"
                           asp-route-pageIndex="@(Model.Role.PageIndex - 1)"
                           asp-route-currentFilter="@Model.CurrentFilter"
                           asp-route-statusFilter="@Model.StatusFilter"
                           class="btn btn-primary page-link @prevDisabled">Previous</a>

                    </li>
                    <li class="page-item">
                        <a asp-page="./Index"
                           asp-route-pageIndex="@(Model.Role.PageIndex + 1)"
                           asp-route-currentFilter="@Model.CurrentFilter"
                           asp-route-statusFilter="@Model.StatusFilter"
                           class="btn  btn-primary page-link  @nextDisabled">Next</a>
                    </li>
                </ul>
            </div>
        </div><!--end col-->
    </div>



    <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            dir = "asc";
            while (switching) {
                switching = false;
                rows = table.rows;
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                } else {
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
