@page
@model SEP_Management.Areas.SubjectManager.Pages.Subjects.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.SubjectCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.SubjectCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.TimeAllocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.TimeAllocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.PassGrade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.PassGrade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.Manager)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Manager.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Subject?.SubjectId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
