@page
@model SEP_Management.Areas.SubjectManager.Pages.Subjects.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].SubjectCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].TimeAllocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].PassGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Manager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeAllocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manager.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubjectId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubjectId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
