@page
@model SEP_Management.Areas.SubjectManager.Pages.Classes.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@* 
<h1>Details</h1>

<div>
    <h4>Class</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.ClassCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.ClassCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.ClassDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.ClassDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.SemesterId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.SemesterId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.SubjectId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.SubjectId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.ManagerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.ManagerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.GitlabId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.GitlabId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.AccessToken)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.AccessToken)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Class?.ClassId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
 *@

<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->
@* 
<div class="container-fluid">
                    <div class="layout-specing">
                        <div class="d-md-flex justify-content-between">
                            <h5 class="mb-0">Class Details</h5>

                            <nav aria-label="breadcrumb" class="d-inline-block mt-4 mt-sm-0">
                                <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                                    <li class="breadcrumb-item"><a href="ClassController">Class List</a></li>
                                    <li class="breadcrumb-item active"><a href="#">Class Details</a></li>
                                </ul>
                            </nav>
                        </div>

                        <div class="card bg-white rounded shadow overflow-hidden mt-4 border-0">

                            <div class="ms-3 pt-3">
                                <h3 class="mb-0"><%=cl.getClassCode()%> </h3>
                            </div>
                            <div class="row">
                                <div class="col-12 mt-4">
                                    <div class="card border-0 rounded-0 p-4">

                                        <div class="tab-content p-4" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-overview" role="tabpanel" aria-labelledby="overview-tab">
                                                
                                                <div class="card p-4 rounded shadow border-0">
                                                    <% if (cl.getStatus() != 2) {%>
                                                    <form action="ClassController" id="update-form" enctype="multipart/form-data">                     
                                                        <input type ="hidden" name ="service" value ="updateClass">
                                                        <%} else {%>
                                                        <form  inert action="ClassController"  enctype="multipart/form-data">                     
                                                            <input type ="hidden" name ="service" value ="updateClass">
                                                            <%}%>

                                                            <div class="row" class="mt-4">                       
                                                                <c:choose>
                                                                    <c:when test="${sessionScope.user.roleId==14 || sessionScope.user.roleId==15}">

                                                                        <input name="cid" id="cid" type="hidden" value ="<%=cl.getClassId()%>" readonly class="form-control" placeholder="Class Id:">

                                                                    </c:when>
                                                                    <c:otherwise>

                                                                        <input style="background-color: #E9ECEF; opacity:0.7" name="cid" id="cid" type="hidden" value ="<%=cl.getClassId()%>" readonly class="form-control" placeholder="Class Id:">

                                                                    </c:otherwise>
                                                                </c:choose>

                                                                <c:choose>
                                                                    <c:when test="${sessionScope.user.roleId==14 || sessionScope.user.roleId==15}">
                                                                        <div class="col-md-6">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="code">Class Code</label>
                                                                                <input name="code" id="code" type="text" value ="<%=cl.getClassCode()%>" required class="form-control" placeholder="Class code:">                                 
                                                                            </div>
                                                                        </div><!--end col-->
                                                                    </c:when>
                                                                    <c:otherwise>
                                                                        <div class="col-md-6">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="code">Class Code</label>
                                                                                <input style="background-color: #E9ECEF; opacity:0.7" name="code" id="code" type="text" value ="<%=cl.getClassCode()%>" readonly class="form-control" placeholder="Class code:">                                 
                                                                            </div>
                                                                        </div><!--end col-->
                                                                    </c:otherwise>
                                                                </c:choose>

                                                                <c:choose>
                                                                    <c:when test="${sessionScope.user.roleId==14 || sessionScope.user.roleId==15}">
                                                                        <div class="col-md-6">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="semester">Semester</label>
                                                                                <select class="form-select select2input" name="semester">
                                                                                    <%while (Rs.next()) {
                                                                                    %>
                                                                                    <option value="<%=Rs.getInt(1)%>" <%=Rs.getInt(1) == cl.getSemesterId() ? "selected" : ""%>><%=Rs.getString(2)%></option>

                                                                                    <%}%>   
                                                                                </select>
                                                                            </div> 
                                                                        </div><!--end col-->
                                                                    </c:when>
                                                                    <c:otherwise>
                                                                        <div class="col-md-6">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="semester">Semester</label>
                                                                                <select style="opacity:0.7" class="form-select select2input" name="semester" id="semester">
                                                                                    <%while (Rs.next()) {
                                                                                    %>
                                                                                    <option value="<%=Rs.getInt(1)%>" <%=Rs.getInt(1) == cl.getSemesterId() ? "selected" : ""%>><%=Rs.getString(2)%></option>

                                                                                    <%}%>   
                                                                                </select>
                                                                            </div> 
                                                                        </div><!--end col-->
                                                                    </c:otherwise>
                                                                </c:choose>

                                                                <c:choose>
                                                                    <c:when test="${sessionScope.user.roleId==14 || sessionScope.user.roleId==15}">
                                                                        <div class="col-md-6">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="subject">Subject</label>
                                                                                <select class="form-select select2input" name="subject">
                                                                                    <%while (Rs3.next()) {
                                                                                    %>
                                                                                    <option value="<%=Rs3.getInt(1)%>" <%=Rs3.getInt(1) == cl.getSubjectId() ? "selected" : ""%>><%=Rs3.getString(2)%></option>

                                                                                    <%}%>   
                                                                                </select>
                                                                            </div>                                                                               
                                                                        </div><!--end col-->
                                                                    </c:when>
                                                                    <c:otherwise>
                                                                        <div class="col-md-6">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="subject">Subject</label>
                                                                                <select style="opacity:0.7" class="form-select select2input" name="subject" id="subject">
                                                                                    <%while (Rs3.next()) {
                                                                                    %>
                                                                                    <option value="<%=Rs3.getInt(1)%>" <%=Rs3.getInt(1) == cl.getSubjectId() ? "selected" : ""%>><%=Rs3.getString(2)%></option>

                                                                                    <%}%>   
                                                                                </select>
                                                                            </div>                                                                               
                                                                        </div><!--end col-->
                                                                    </c:otherwise>
                                                                </c:choose>

                                                                <c:choose>
                                                                    <c:when test="${sessionScope.user.roleId==14 || sessionScope.user.roleId==15}">
                                                                        <div class="col-md-6">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="manager">Teacher</label>

                                                                                <select class="form-select select2input" name="manager" >
                                                                                    <%while (Rs2.next()) {
                                                                                    %>
                                                                                    <option value="<%=Rs2.getInt(1)%>" <%=Rs2.getInt(1) == cl.getManagerId() ? "selected" : ""%>><%=Rs2.getString(2)%></option>

                                                                                    <%}%>   
                                                                                </select>
                                                                            </div>
                                                                        </div><!--end col-->
                                                                    </c:when>
                                                                    <c:otherwise>
                                                                        <div class="col-md-6">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="manager">Teacher</label>

                                                                                <select style="opacity:0.7" class="form-select select2input" name="manager" id="manager">
                                                                                    <%while (Rs2.next()) {
                                                                                    %>
                                                                                    <option value="<%=Rs2.getInt(1)%>" <%=Rs2.getInt(1) == cl.getManagerId() ? "selected" : ""%>><%=Rs2.getString(2)%></option>

                                                                                    <%}%>   
                                                                                </select>
                                                                            </div>
                                                                        </div><!--end col-->
                                                                    </c:otherwise>
                                                                </c:choose>

                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="gitlab">Gitlab Url</label>

                                                                        <input name="gitlab" id="gitlab" type="text" value ="<%=cl.getGitlabId()%>" class="form-control" placeholder="Gitlab url:">
                                                                    </div>
                                                                </div><!--end col-->


                                                                <div class="col-md-6">
                                                                    <div class="mb-3">
                                                                        <label class="form-label" for="acctoken">Access Token</label>
                                                                        <input name="acctoken" id="acctoken" type="password" value ="<%=cl.getAccessToken()%>" class="form-control" placeholder="Access Token:">
                                                                    </div>
                                                                </div><!--end col-->

                                                                <c:choose>
                                                                    <c:when test="${sessionScope.user.roleId==14 || sessionScope.user.roleId==15}">
                                                                        <%if (cl.getStatus() == 0) {%>
                                                                        <div class="col-md-6" style="display:grid">
                                                                            <div class="mb-3">
                                                                                <div class="row ms-5 mt-2">
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Pending</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="0" checked>
                                                                                    </div>
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Started</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="1">

                                                                                    </div>
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Closed</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="2">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div><!--end col-->
                                                                        <%} else if (cl.getStatus() == 1) {%>
                                                                        <div class="col-md-6" style="display:grid">
                                                                            <div class="mb-3">
                                                                                <div class="row ms-5 mt-2">
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Pending</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="0">
                                                                                    </div>
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Started</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="1" checked>

                                                                                    </div>
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Closed</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="2">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div><!--end col-->

                                                                        <%} else {%>
                                                                        <div class="col-md-6" style="display:grid">
                                                                            <div class="mb-3">
                                                                                <div class="row ms-5 mt-2">
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Pending</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="0">
                                                                                    </div>
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Started</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="1">

                                                                                    </div>
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Closed</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="2" checked>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div><!--end col-->
                                                                        <%}%>
                                                                    </c:when>
                                                                    <c:otherwise>
                                                                        <%if (cl.getStatus() == 0) {%>
                                                                        <div class="col-md-6" style="display:grid">
                                                                            <div class="mb-3">
                                                                                <div class="row ms-5 mt-2">
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Pending</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="0" checked>
                                                                                    </div>
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Started</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="1" disabled>

                                                                                    </div>
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Closed</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="2" disabled>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div><!--end col-->
                                                                        <%} else if (cl.getStatus() == 1) {%>
                                                                        <div class="col-md-6" style="display:grid">
                                                                            <div class="mb-3">
                                                                                <div class="row ms-5 mt-2">
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Pending</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="0" disabled>
                                                                                    </div>
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Started</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="1" checked>

                                                                                    </div>
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Closed</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="2" disabled>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div><!--end col-->

                                                                        <%} else {%>
                                                                        <div class="col-md-6" style="display:grid">
                                                                            <div class="mb-3">
                                                                                <div class="row ms-5 mt-2">
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Pending</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="0" disabled>
                                                                                    </div>
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Started</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="1" disabled>

                                                                                    </div>
                                                                                    <div class="form-check col-md-4">
                                                                                        <label class="form-check-label">Closed</label>
                                                                                        <input class="form-check-input" type="radio" name="status" value="2" checked>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div><!--end col-->
                                                                        <%}%>
                                                                    </c:otherwise>
                                                                </c:choose>

                                                                <c:choose>
                                                                    <c:when test="${sessionScope.user.roleId==14 || sessionScope.user.roleId==15}">

                                                                        <div class="col-md-12">
                                                                            <div class="mb-3">
                                                                                <label class="form-label" for="details">Details</label>
                                                                                <textarea name="details" id="details" rows="3" class="form-control" ><%=cl.getClassDetails() == null ? "" : cl.getClassDetails()%></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </div><!--end row-->
                                                                </c:when>
                                                                <c:otherwise>
                                                                    <div class="col-md-12">
                                                                        <div class="mb-3">
                                                                            <label class="form-label" for="details">Details</label>
                                                                            <textarea style="background-color: #E9ECEF; opacity:0.7" readonly name="details" id="details" rows="3" class="form-control" ><%=cl.getClassDetails() == null ? "" : cl.getClassDetails()%></textarea>
                                                                        </div>
                                                                    </div>
                                                                    </div><!--end row-->
                                                                </c:otherwise>
                                                            </c:choose>
                                                            <button type="submit" name="submit3" value="" class="btn btn-primary">Confirm Changes</button>

                                                        </form>
                                                </div>            
                                            </div> <!--end panel-->
                                            <div class="modal fade" id="syncModal" tabindex="-1" role="dialog" aria-labelledby="syncModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <!--                            <div class="modal-header">
                                                                                        <h5 class="modal-title" id="syncModalLabel">Sync with GitLab</h5>
                                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                                                    </div>-->
                                                        <div class="p-2">
                                                            <form id="syncForm" action="gitsync" method="post">
                                                                <input type="hidden" name="classId" value="${requestScope.assignClass.classId}">
                                                                <input type="hidden" name="mode" value="setting">
                                                                <label class="form-label">Gitlab URL:</label>
                                                                <input name="gitUrl" id="gitUrl" type="text"
                                                                       class="form-control" placeholder="Enter your Gitlab URL here..."
                                                                       value="${requestScope.assignClass.gitLabId}"
                                                                       required>
                                                                <label class="form-label">Access Token:</label>
                                                                <input name="accessToken" id="accessToken" type="text"
                                                                       class="form-control" placeholder="Enter your Access Token here..."
                                                                       value="<%=cl.getAccessToken()%>"
                                                                       required>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-success" id="SyncAction">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>  
                                    </div><!--end row-->
                                </div><!--end teb pane-->
                            </div><!--end tab content-->
                        </div>
                    </div><!--end row-->
 *@