@page
@model SEP_Management.Areas.SubjectManager.Pages.Classes.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@* 
<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].ClassCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].ClassDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].SemesterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].SubjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].ManagerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].GitlabId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].AccessToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class[0].UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Class) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassDetails)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GitlabId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessToken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClassId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ClassId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@

<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<div class="container-fluid">
    <div class="layout-specing">
        <div class="row">
            <div class="col-xl-9 col-md-2">
                <h5 class="mb-0">Class Management</h5>

                <nav aria-label="breadcrumb" class="d-inline-block mt-2">
                    <ul class="breadcrumb breadcrumb-muted bg-transparent rounded mb-0 p-0">
                        <li class="breadcrumb-item"><a href="UserController?service=listAll">Class Management</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Class list</li>
                    </ul>
                </nav>
            </div><!--end col-->

        </div><!--end row-->
        <div class="row" style="display: flex; justify-content: space-between;">

            <div class="col-md-2 mt-5" style="float:right">
                <form action="ClassController">
                    <input type="hidden" name="service" value="filterSemester">
                    <div class="row ">
                        <div class="">
                            <select name="checkSemester" class="form-select" id="checkSemester" onchange="this.form.submit()">
                                <option value="" hidden="">Semester Filter:</option>
                                <option value="display">All</option>
                                <c:forEach items="${data1}" var="st">

                                    <option value="${st.settingId}">${st.settingName}</option>


                                </c:forEach>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-2 mt-5" style="float:right">
                <form action="ClassController">
                    <input type="hidden" name="service" value="filterSubject">
                    <div class="row ">
                        <div class="">
                            <select name="checkSubject" class="form-select" id="checkSubject" onchange="this.form.submit()">
                                <option value="" hidden="">Subject Filter:</option>
                                <option value="display">All</option>
                                <c:forEach items="${data2}" var="sb">

                                    <option value="${sb.subjectId}">${sb.subjectName}</option>


                                </c:forEach>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-2 mt-5" style="float:right">
                <form action="ClassController">
                    <input type="hidden" name="service" value="filterTeacher">
                    <div class="row ">
                        <div class="">
                            <select name="checkTeacher" class="form-select" id="checkTeacher" onchange="this.form.submit()">
                                <option value="" hidden="">Teacher Filter:</option>
                                <option value="display">All</option>
                                <c:forEach items="${data3}" var="us">

                                    <option value="${us.userId}">${us.fullName}</option>


                                </c:forEach>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-2 mt-5" style="float:right">
                <form action="ClassController">
                    <input type="hidden" name="service" value="filterStatus">
                    <div class="row ">
                        <div class="">
                            <select name="checkStatus" class="form-select" id="checkStatus" onchange="this.form.submit()">
                                <option value="" hidden="">Status Filter:</option>
                                <option value="display">All</option>
                                <option value="0">Pending</option>
                                <option value="1">Started</option>
                                <option value="2">Closed</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

            <div class="search-bar p-0 d-none d-lg-block col-md-2 mt-5">
                <div id="search" class="menu-search mb-0">
                    <form role="search" method="post" id="searchform" class="searchform" action="ClassController?service=searchName">
                        <div>
                            <input value="${name}" type="text" class="form-control border rounded-pill" name="name" id="name" placeholder="Search Keywords...">
                            <input type="submit" id="searchsubmit" value="Search">
                        </div>
                    </form>
                </div>
            </div>

            <div class="text-md-end col-md-2 mt-5">
                <c:if test="${sessionScope.user.roleId==14 || sessionScope.user.roleId==15}">
                    <a href="ClassController?service=addClass" data-bs-toggle="modal" data-bs-target="#addform" class="btn btn-primary">Add New Class</a>
                </c:if>
            </div><!--end col-->

        </div>
        <div class="table-responsive bg-white shadow rounded">

            <table id="myTable" class="table mb-0 table-hover table-bordered">
                <thead>
                    <tr>
                        <th class="border-bottom p-3" style="min-width: 50px; cursor: pointer">
                            ID<i class="uil uil-sort"></i>
                        </th>
                        <th onclick="sortTable(1)" class="border-bottom p-3" style="min-width: 180px; cursor: pointer">
                            Class Code<i class="uil uil-sort"></i>
                        </th>
                        <th onclick="sortTable(2)" class="border-bottom p-3" style="min-width: 150px; cursor: pointer;">
                            Semester<i class="uil uil-sort"></i>
                        </th>
                        <th onclick="sortTable(3)" class="border-bottom p-3" style="min-width: 150px; cursor: pointer;">
                            Subject<i class="uil uil-sort"></i>
                        </th>
                        <th onclick="sortTable(4)" class="border-bottom p-3" style="min-width: 150px; cursor: pointer;">
                            Teacher<i class="uil uil-sort"></i>
                        </th>
                        <th onclick="sortTable(5)" class="border-bottom p-3" style="min-width: 130px; cursor: pointer;">
                            Status<i class="uil uil-sort"></i>
                        </th>
                        <th class="border-bottom p-3" style="min-width: 50px;">Actions</th>

                    </tr>
                </thead>

                <c:forEach items="${data}" var="cl">

                    <tbody>
                        <tr>
                            <td class="p-3">
                                ${cl.classId}
                            </td>
                            <td class="p-3">
                                <a href="#" class="text-dark">
                                    <div class="d-flex align-items-center">
                                        <span class="ms-2">
                                            ${cl.classCode}
                                        </span>
                                    </div>
                                </a>
                            </td>

                            <c:forEach items="${data1}" var="st">
                                <c:if test="${cl.semesterId==st.settingId}">
                                    <td class="p-3">
                                        ${st.settingName}
                                    </td>
                                </c:if>
                            </c:forEach>

                            <c:forEach items="${data2}" var="sb">
                                <c:if test="${cl.subjectId==sb.subjectId}">
                                    <td class="p-3">
                                        ${sb.subjectName}
                                    </td>
                                </c:if>
                            </c:forEach>

                            <c:forEach items="${data3}" var="us">
                                <c:if test="${cl.managerId==us.userId}">
                                    <td class="p-3">
                                        ${us.fullName}
                                    </td>
                                </c:if>
                            </c:forEach>


                            <c:if test="${cl.status==0}">
                                <td><span class="badge bg-soft-warning">Pending</span></td>
                            </c:if>
                            <c:if test="${cl.status==1}">
                                <td><span class="badge bg-soft-success">Started</span></td>
                            </c:if>
                            <c:if test="${cl.status==2}">
                                <td><span class="badge bg-soft-danger">Closed</span></td>
                            </c:if>

                            <td class="p-3">
                                <a href="ClassController?service=updateClass&cid=${cl.classId}"
                                   class="btn btn-icon btn-pills btn-soft-primary"><i class="uil uil-pen"></i></a>
                                <c:if test="${sessionScope.user.roleId==14 || sessionScope.user.roleId==15}">
                                    <c:if test="${cl.status==0}">
                                        <a data-bs-toggle="modal" data-bs-target="#start-${cl.classId}"
                                           class="btn btn-icon btn-pills btn-soft-success"
                                           title="Start">
                                            <i class="uil uil-play"></i>
                                        </a>
                                        <a data-bs-toggle="modal" data-bs-target="#delete-${cl.classId}"
                                           class="btn btn-icon btn-pills btn-soft-danger"
                                           title="Delete">
                                            <i class="uil uil-trash-alt"></i>
                                        </a>
                                        <div class="modal" id="start-${cl.classId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg w modal-dialog-centered " style="width:400px;">
                                                <div class="modal-content p-3">

                                                    <div class="modal-body border-0 text-center p-2">
                                                        <h1 class="text-success display-1"><i class="uil uil-play"></i></h1>
                                                        <h4 class="modal-title" id="exampleModalLabel">Are you sure</h4>
                                                        <p>Do you really want to start this class? This process cannot be undone.</p>
                                                    </div>
                                                    <div class="modal-footer border-0 align-items-center justify-content-center">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <a href="ClassController?service=changeStatus&id=${cl.classId}&status=${cl.status}" type="button" class="btn btn-success">Start</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal" id="delete-${cl.classId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg w modal-dialog-centered " style="width:400px;">
                                                <div class="modal-content p-3">

                                                    <div class="modal-body border-0 text-center p-2">
                                                        <h1 class="text-danger display-1"><i class="ri-close-circle-line"></i></h1>
                                                        <h4 class="modal-title" id="exampleModalLabel">Are you sure</h4>
                                                        <p>Do you really want to delete this class? This process cannot be undone.</p>
                                                    </div>
                                                    <div class="modal-footer border-0 align-items-center justify-content-center">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <a href="ClassController?service=delete&id=${cl.classId}" type="button" class="btn btn-danger">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </c:if>
                                    <c:if test="${cl.status==1}">
                                        <a data-bs-toggle="modal" data-bs-target="#close-${cl.classId}"
                                           class="btn btn-icon btn-pills btn-soft-danger"
                                           title="Close ">
                                            <i class="uil uil-ban"></i>
                                        </a>
                                        <div class="modal" id="close-${cl.classId}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-lg w modal-dialog-centered " style="width:400px;">
                                                <div class="modal-content p-3">

                                                    <div class="modal-body border-0 text-center p-2">
                                                        <h1 class="text-danger display-1"><i class="uil uil-ban"></i></h1>
                                                        <h4 class="modal-title" id="exampleModalLabel">Are you sure</h4>
                                                        <p>Do you really want to Close this class? This process cannot be undone.</p>
                                                    </div>
                                                    <div class="modal-footer border-0 align-items-center justify-content-center">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <a href="ClassController?service=changeStatus&id=${cl.classId}&status=${cl.status}" id="close-button" type="button" class="btn btn-danger">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </c:if>
                                    <c:if test="${cl.status==2}">
                                    </c:if>
                                </c:if>
                            </td>
                        </tr>

                </c:forEach>

                </tbody>
            </table>

        </div>

        <div class="row text-center">
            <div class="col-12 mt-4">
                <div class="d-md-flex align-items-center text-center justify-content-between">
                    <span class="text-muted me-3"></span>
                    <ul class="pagination justify-content-center mb-0 mt-3 mt-sm-0">
                        <c:forEach begin="1" end="${endP}" var="i">
                            <li class="page-item"><a class="page-link" href="ClassController?listAll&index=${i}">${i}</a></li>

                        </c:forEach>
                    </ul>
                </div>
            </div><!--end col-->
        </div>



    </div>
    <div class="modal fade" id="addform" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header border-bottom p-3">
                    <h5 class="modal-title" id="exampleModalLabel">Add new Class</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-3 pt-4">
                    <form id="add-form" action="ClassController" enctype="multipart/form-data">
                        <input type="hidden" name="service" value="addClass">
                        <div class="row" class="mt-4">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="name">Class Code<span class="text-danger">*</span></label>
                                    <input name="code" id="code" type="text" required class="form-control" placeholder="Class Code :">
                                </div>
                            </div><!--end col-->

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="semester">Semester</label>
                                    <select class="form-select " name="semester" id="semester">
                                        <c:forEach items="${data4}" var="st2">

                                            <option value="${st2.settingId}">${st2.settingName}</option>


                                        </c:forEach>
                                    </select>
                                </div>
                            </div><!--end col-->

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label">Subject</label>
                                    <select class="form-select " name="subject">
                                        <c:if test="${sessionScope.user.roleId==14}">
                                            <c:forEach items="${data5}" var="sb2">

                                                <option value="${sb2.subjectId}">${sb2.subjectName}</option>


                                            </c:forEach>
                                        </c:if>
                                        <c:if test="${sessionScope.user.roleId==15}">
                                            <c:forEach items="${data2}" var="sb">

                                                <option value="${sb.subjectId}">${sb.subjectName}</option>


                                            </c:forEach>
                                        </c:if>
                                    </select>
                                </div>
                            </div><!--end col-->

                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label" for="manager">Teacher</label>
                                    <select class="form-select " name="manager">
                                        <c:forEach items="${data6}" var="us2">

                                            <option value="${us2.userId}">${us2.fullName}</option>


                                        </c:forEach>
                                    </select>
                                </div>
                            </div><!--end col-->

                            <div class="col-md-6" style="display:grid">
                                <div class="mb-3">
                                    <div class="row ms-3">
                                        <div class="form-check col-md-4">
                                            <label class="form-check-label">Pending</label>
                                            <input class="form-check-input" type="radio" name="status" value="0" checked>
                                        </div>
                                        <div class="form-check col-md-4">
                                            <label class="form-check-label">Started</label>
                                            <input class="form-check-input" type="radio" name="status" value="1">

                                        </div>
                                        <div class="form-check col-md-4">
                                            <label class="form-check-label">Closed</label>
                                            <input class="form-check-input" type="radio" name="status" value="2">
                                        </div>
                                    </div>
                                </div>
                            </div><!--end col-->


                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label" for="details">Details</label>
                                    <textarea name="details" id="details" rows="3" class="form-control" placeholder="Details :"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 d-grid">
                                <button type="submit" name="submit2" value=" " class="btn btn-primary">Add class</button>
                            </div>
                        </div><!--end row-->


                    </form>
                </div>
            </div>
        </div>
        <!-- Add New Appointment End -->
    </div>
</div><!--end container-->
