@page
@model SEP_Management.Areas.SubjectManager.Pages.SubjectSettings.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectSetting[0].SettingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectSetting[0].SettingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectSetting[0].SettingValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectSetting[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectSetting[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectSetting[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectSetting[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectSetting[0].Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SubjectSetting) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SettingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SettingValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SettingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SettingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SettingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
